# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [2]:
data={}
type(data)

dict

In [3]:
data1=dict()
type(data1)

dict

In [43]:
data={'Alabama':'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia': 'Atlanta',
     'Kentucky': 'Frankfort',
     'Ohio': 'Salem'}
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [44]:
data['Alabama'] # access dictionary elements by its key name

'Montgomery'

In [45]:
data['Lousiana']

KeyError: 'Lousiana'

In [46]:
Days={1: "Monday",
      2: "Tuesday",
      4: ("Thursday","Friday"),
      5: ['Saturday','Holiday']
    }

In [12]:
Days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [17]:
Days[4][0]

'Thursday'

In [18]:
Days[5][1]

'Holiday'

In [19]:
Days[2]

'Tuesday'

### Update elements of a dictionary and add new elements

In [20]:
Days

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [21]:
Days[5][0]='Holiday'

In [22]:
print(Days)

{1: 'Monday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Holiday', 'Holiday']}

In [23]:
Days[1]='Holiday'
print(Days)

{1: 'Holiday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Holiday', 'Holiday']}

In [24]:
Days[3]='Wednesday'
print(Days)

{1: 'Holiday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Holiday', 'Holiday'], 3: 'Wednesday'}

In [25]:
Days[6]=['XYZ','ABC']

In [26]:
print(Days)

{1: 'Holiday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Holiday', 'Holiday'], 3: 'Wednesday', 6: ['XYZ', 'ABC']}

### `get` and `update` methods

In [27]:
dir({})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [28]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [29]:
#Access an element using .get method
data.get('Alabama')

'Montgomery'

In [30]:
data.get('Ohio')

'Salem'

In [31]:
print(data.get('Louisiana'))

None

In [33]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [36]:
data.update({'Kentucky': 'Louisville','Louisiana': 'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

### Delete dictionary items using `del` and `pop`

In [47]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [48]:
del data["Alabama"]

In [49]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [50]:
data.pop("Arizona")
data

{'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [51]:
data.pop("Kentucky")
data

{'Georgia': 'Atlanta', 'Ohio': 'Salem'}

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [52]:
data

{'Georgia': 'Atlanta', 'Ohio': 'Salem'}

In [53]:
len(data)

2

In [54]:
data.keys() # gives the keys from the dictionary

dict_keys(['Georgia', 'Ohio'])

In [55]:
data.values() #gives the values from the dictionary

dict_values(['Atlanta', 'Salem'])

In [56]:
data.items() #gives the items from the dictionary

dict_items([('Georgia', 'Atlanta'), ('Ohio', 'Salem')])

### Loop through a dictionary

In [60]:
for key in data.keys():
    print(type(key))
    print(key)

<class 'str'>
Georgia
<class 'str'>
Ohio

In [62]:
for value in data.values():
    print(type(value))
    print(value)

<class 'str'>
Atlanta
<class 'str'>
Salem

In [63]:
for item in data.items():
    print(type(item))
    print(item)

<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Ohio', 'Salem')

In [64]:
for state, capitol in data.items():
    print(type(state), type(capitol))
    print(state, capitol)
    print("State name:",state)
    print("Capitol name:",capitol)

<class 'str'> <class 'str'>
Georgia Atlanta
State name: Georgia
Capitol name: Atlanta
<class 'str'> <class 'str'>
Ohio Salem
State name: Ohio
Capitol name: Salem

### Convert dictionary to lists using `list()` function

In [65]:
data

{'Georgia': 'Atlanta', 'Ohio': 'Salem'}

In [66]:
State=list(data.keys())
print(State)
print(type(State))

['Georgia', 'Ohio']
<class 'list'>

In [67]:
Capitol=tuple(data.values())
print(Capitol)
print(type(Capitol))

('Atlanta', 'Salem')
<class 'tuple'>

### A List in a Dictionary

In [68]:
fav_languages={
    'Jen': ['Python','Ruby'],
    'Sarah': ['C'],
    'Edward': ['Ruby','Java'],
    'Phil': ['Python','Haskell']
}
print(fav_languages)

{'Jen': ['Python', 'Ruby'], 'Sarah': ['C'], 'Edward': ['Ruby', 'Java'], 'Phil': ['Python', 'Haskell']}

In [69]:
print(fav_languages['Sarah'])

['C']

In [72]:
for name, languages in fav_languages.items():
    print("\n"+name.upper()+"\'s favourite languages are: ")

    for i in languages:
        print("\t\t\t\t"+i.upper())

JEN's favourite languages are:
				PYTHON
				RUBY

SARAH's favourite languages are:
				C

EDWARD's favourite languages are:
				RUBY
				JAVA

PHIL's favourite languages are:
				PYTHON
				HASKELL

###  A Dictionary in a Dictionary

In [2]:
users={
    'einstein':{
        'first': 'albert',
        'last': 'einstein',
        'location': 'princeton',
    },
    'mcurie':{
        'first': 'maria',
        'last': 'curie',
        'location': 'paris',
    }
}

In [3]:
users

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'maria', 'last': 'curie', 'location': 'paris'}}

In [7]:
for username, user_info in users.items():
    print("Username: ",username)
    #print("UserInfo", user_info)
    full_name=user_info['first']+" "+user_info['last']
    location=user_info['location']
    print("\t Full name:", full_name.title())
    print("\t Location: ", location.title())

Username:  einstein
	 Full name: Albert Einstein
	 Location:  Princeton
Username:  mcurie
	 Full name: Maria Curie
	 Location:  Paris